#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#e4e0ba, #7fd9aa);
    cursor:crosshair;
}

#interface {
    position:absolute;
    width: 100%;
}